@model IEnumerable<VehicleInsurance_Employee.Models.Claim>

@{
    ViewBag.Title = "Report 3";
}
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Claims report</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="claimNumber">
                                            @Html.DisplayNameFor(model => model.ClaimNumber)
                                        </th>
                                        <th data-field="policyNumber">
                                            @Html.DisplayNameFor(model => model.PolicyNumber)
                                        </th>
                                        <th data-field="placeOfAccident">
                                            @Html.DisplayNameFor(model => model.PlaceOfAccident)
                                        </th>
                                        <th data-field="dateOfAccident">
                                            @Html.DisplayNameFor(model => model.DateOfAccident)
                                        </th>
                                        <th data-field="insuredAmount">
                                            @Html.DisplayNameFor(model => model.InsuredAmount)
                                        </th>
                                        <th data-field="claimableAmount">
                                            @Html.DisplayNameFor(model => model.ClaimableAmount)
                                        </th>
                                        <th data-field="status">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClaimNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PolicyNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PlaceOfAccident)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateOfAccident)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InsuredAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClaimableAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
