@model IEnumerable<VehicleInsurance_Employee.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong> @TempData["AlertMessage"]</strong>
    </div>
}

<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Vehicles</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="vehicleID">
                                            @Html.DisplayNameFor(model => model.VehicleID)
                                        </th>
                                        <th data-field="vehicleTypeName">
                                            @Html.DisplayNameFor(model => model.VehicleType.VehicleTypeName)
                                        </th>
                                        <th data-field="vehicleBrandName">
                                            @Html.DisplayNameFor(model => model.VehicleModel.VehicleBrand.VehicleBrandName)
                                        </th>
                                        <th data-field="vehicleModelName">
                                            @Html.DisplayNameFor(model => model.VehicleModel.VehicleModelName)
                                        </th>
                                        <th data-field="customerID">
                                            @Html.DisplayNameFor(model => model.CustomerID)
                                        </th>
                                        <th data-field="vehicleOwnerName">
                                            @Html.DisplayNameFor(model => model.VehicleOwnerName)
                                        </th>
                                        <th data-field="vehicleBodyNumber">
                                            @Html.DisplayNameFor(model => model.VehicleBodyNumber)
                                        </th>
                                        <th data-field="vehicleEngineNumber">
                                            @Html.DisplayNameFor(model => model.VehicleEngineNumber)
                                        </th>
                                        <th data-field="vehicleNumber">
                                            @Html.DisplayNameFor(model => model.VehicleNumber)
                                        </th>
                                        <th data-field="image">
                                            @Html.DisplayNameFor(model => model.Image)
                                        </th>
                                        <th data-field="seatNumbe">
                                            @Html.DisplayNameFor(model => model.SeatNumber)
                                        </th>
                                        <th data-field="status">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleModel.VehicleBrand.VehicleBrandName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleModel.VehicleModelName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleOwnerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleBodyNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleEngineNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleNumber)
                                            </td>
                                            <td>
                                                @{
                                                    string base64String = Convert.ToBase64String(item.Image, 0, item.Image.Length);
                                                    string image = "data:image/igp;base64," + base64String;
                                                    <img src="@image" style="height:150px; width:150px" alt="@item.Image" />
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SeatNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                <a title="Edit" href="@Url.Action("Edit", "Vehicles", new { id=item.VehicleID })" aria-expanded="false" class="btn btn-custon-rounded-four btn-primary">
                                                    <span class="fa fa-edit" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
