@model IEnumerable<VehicleInsurance_Employee.Models.VehicleBrand>

@{
    ViewBag.Title = "Index";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong> @TempData["AlertMessage"]</strong>
    </div>
}

<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd pull-left">
                            <h1>Vehicle Brands</h1>
                        </div>
                        <div class="pull-right">
                            <a title="Create" href="@Url.Action("Create", "VehicleBrands")" aria-expanded="false" class="btn btn-custon-four btn-success">
                                <span class="fa fa-plus" aria-hidden="true"></span>
                                Create
                            </a>
                        </div>
                    </div>
                    <div class="sparkline13-graph" style="clear:both">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="vehicleBrandID">
                                            @Html.DisplayNameFor(model => model.VehicleBrandID)
                                        </th>
                                        <th data-field="vehicleBrandName">
                                            @Html.DisplayNameFor(model => model.VehicleBrandName)
                                        </th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleBrandID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleBrandName)
                                            </td>
                                            <td>
                                                <a title="Edit" href="@Url.Action("Edit", "VehicleBrands", new { id=item.VehicleBrandID })" aria-expanded="false" class="btn btn-custon-rounded-four btn-primary">
                                                    <span class="fa fa-edit" aria-hidden="true"></span>
                                                </a>
                                                <a title="Details" href="@Url.Action("Details", "VehicleBrands", new { id=item.VehicleBrandID })" aria-expanded="false" class="btn btn-custon-rounded-four btn-info">
                                                    <span class="fa fa-eye" aria-hidden="true"></span>
                                                </a>
                                                <a title="Delete" href="@Url.Action("Delete", "VehicleBrands", new { id=item.VehicleBrandID })" aria-expanded="false" class="btn btn-custon-rounded-four btn-danger">
                                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
