@model IEnumerable<VehicleInsurance_Employee.Models.Feedback>

@{
    ViewBag.Title = "Index";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong> @TempData["AlertMessage"]</strong>
    </div>
}

<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Contacts</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="feedbackID">
                                            @Html.DisplayNameFor(model => model.FeedbackID)
                                        </th>
                                        <th data-field="customerID">
                                            @Html.DisplayNameFor(model => model.CustomerID)
                                        </th>
                                        <th data-field="description">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th data-field="datetime">
                                            @Html.DisplayNameFor(model => model.Datetime)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FeedbackID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Datetime)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
