@model VehicleInsurance_Employee.Models.VehicleModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBrand.VehicleBrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBrand.VehicleBrandName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
