@model VehicleInsurance_Employee.Models.Coefficient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coefficient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coefficient1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coefficient1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CoefficientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
